// the file name should be .env.template 
NEXT_PUBLIC_SMART_CONTRACT_ADDRESS=YOUR_CONTRACT_ADDRESS 

// YOU CAN DEPLOY YOUR CONTRACT ON ROPESTEN TEST NET WITH REMIX IDE 

// THE CONTRACT.SOL FILE CAN BE FOUND IN PROJECT ROOT.